.nav-container {
  width: 100%;
  background-color: black;
}

nav {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

nav button {
  color: white;
  background-color: black;
  border: 0;
}

.left-menu {
  grid-column: 1;
  align-self: center;
}

.left-menu button {
  padding: 10px 0;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.logo {
  grid-column: 2;
}

#nav-toggle,
.burger {
  display: none;
}

.burger {
  grid-column: 1;
  align-self: center;
}

.burger img {
  fill: white;
  width: 1.2em;
}

@media only screen and (max-width: 999px) {
  .burger {
    display: inline-block;
  }

  .left-menu {
    display: none;
  }
}
