.task-item {
    min-width: 15rem;
    display: grid;
    border: 1px solid gray;
    border-radius: 0.4rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto 1fr;
  }
  